Options +FollowSymLinks -MultiViews
RewriteEngine On

# L-Flag stopps processing immediately
# QSA = Query String Append

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

